<div class="card mat-card" class="section1" id="proyecto">
    <div id="proyecto-experience" class="font-fluid" style="padding: 20px;">
        <div id="proyecto-header">
            <i class="fas fa-solid fa-industry"></i>
            <h2 class="section-header">Proyectos</h2>
        </div>
        <div *ngIf="isAdmin">
            <h3>Agregar o editar proyecto
                <i class="fa-solid fa-plus add-btn" data-bs-toggle="modal" data-bs-target="#proyectoModal"></i>
                <br>Modo: {{accion}}
                <br>Resetear modo <i class="fa-solid fa-rotate-left" (click)="cancelar()" type="reset"></i>
            </h3>
            <div class="modal fade" id="proyectoModal" tabindex="-1" role="dialog" aria-labelledby="proyectoModalLabel">
                <div class="modal-dialog modal-xl" role="document" style="width: 100%; max-width: 1500px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div style="flex-direction: column-start;">
                                <h3 class="modal-title" id="proyectoModalLabel">Modo: {{accion}}</h3>
                                <p class="modal-subtitle">Cada proyecto que se agrega, queda primero en la lista.</p>
                            </div>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="form" (ngSubmit)="crearProyecto()">
                                <div class="input-group mb-3">
                                    <label class="input-group-text">Nombre del proyecto</label>
                                    <input formControlName="projectName" type="text" class="form-control" placeholder="Nombre del proyecto"
                                        [ngClass]="{'is-invalid':ProjectName?.errors && ProjectName?.touched, 'is-valid':!ProjectName?.errors && ProjectName?.touched}">
                                    <div *ngIf="ProjectName?.errors && ProjectName?.touched">
                                        <p *ngIf="ProjectName?.hasError('required')" class="text-danger" style="background-color: black;">
                                            Ponga el nombre del proyecto.
                                        </p>
                                    </div>
                                </div>
                                <div class="input-group mb-3 date">
                                    <label class="input-group-text">Fecha de creación</label>
                                    <input formControlName="creationDate" type="date" class="form-control" placeholder="YYYY/MM/DD"
                                        [ngClass]="{'is-invalid':CreationDate?.errors && CreationDate?.touched, 'is-valid':!CreationDate?.errors && CreationDate?.touched}">
                                    <div *ngIf="CreationDate?.errors && CreationDate?.touched">
                                        <p *ngIf="CreationDate?.hasError('required')" class="text-danger" style="background-color: black;">
                                            Ponga la fecha de creación.
                                        </p>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text">Descripción del proyecto</label>
                                    <input formControlName="projectDescription" type="text" class="form-control" placeholder="Descripción del proyecto"
                                        [ngClass]="{'is-invalid':ProjectDescription?.errors && ProjectDescription?.touched,
                                        'is-valid':!ProjectDescription?.errors && ProjectDescription?.touched}">
                                    <div *ngIf="ProjectDescription?.errors && ProjectDescription?.touched">
                                        <p *ngIf="ProjectDescription?.hasError('required')" class="text-danger" style="background-color: black;">
                                            Ponga la descripción del proyecto.
                                        </p>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text">Link del proyecto</label>
                                    <input formControlName="projectLink" type="text" class="form-control" placeholder="Link del proyecto"
                                        [ngClass]="{'is-invalid':ProjectLink?.errors && ProjectLink?.touched, 'is-valid':!ProjectLink?.errors && ProjectLink?.touched}">
                                    <div *ngIf="ProjectLink?.errors && ProjectLink?.touched">
                                        <p *ngIf="ProjectLink?.hasError('required')" class="text-danger" style="background-color: black;">
                                            Ponga el link del proyecto.
                                        </p>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text">Imagen 1</label>
                                    <input formControlName="image1" type="text" class="form-control"
                                        placeholder="URL de la imagen, tiene que estar previamente en una página">
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text">Imagen 2</label>
                                    <input formControlName="image2" type="text" class="form-control"
                                        placeholder="URL de la imagen, tiene que estar previamente en una página">
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text">Imagen 3</label>
                                    <input formControlName="image3" type="text" class="form-control"
                                        placeholder="URL de la imagen, tiene que estar previamente en una página">
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text">Video</label>
                                    <input formControlName="video" type="text" class="form-control"
                                        placeholder="ID del video en Youtube">
                                </div>
                                <div class="d-grip gap-2">
                                    <button type="submit" class="btn btn-success btn-lg" [disabled]="!form.valid" data-bs-dismiss="modal">Aceptar</button>
                                    &nbsp;
                                    <button type="reset" class="btn btn-danger btn-lg" (click)="cancelar()" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ul class="items-list" style="padding: 0px;">
                <li *ngFor="let proyecto of proyectoLista">
                    <div class="data-container">
                        <div class="list-info">
                            <div class="table">
                                <tr>
                                    <h3>{{proyecto.projectName}}</h3>
                                    <td *ngIf="isAdmin"><i (click)="actualizarProyecto(proyecto)"
                                        class="fa-regular fa-pen-to-square text-info" data-bs-toggle="modal" data-bs-target="#proyectoModal"></i></td>
                                    <td *ngIf="isAdmin"><i (click)="borrarProyecto(proyecto.id!)"
                                        class="fa-regular fa-trash-can text-danger"></i></td>
                                </tr>
                                <tr>
                                    <col>Descripción: {{proyecto.projectDescription}}
                                    <br>
                                    <col>URL: <a href={{proyecto.projectLink}} style="background-color: black;">{{proyecto.projectLink}}</a>
                                    <br>
                                    <div>Fecha de creación: {{proyecto.creationDate | date:"d 'de' MMMM 'de' YYYY"}}</div>
                                </tr>
                            </div>
                        </div>
                        <ng-container *ngIf="proyecto.image1 !== null || proyecto.image2 !== null || proyecto.image3 !== null">
                            <div *ngIf="proyecto.image1 !== '' || proyecto.image2 !== '' || proyecto.image3 !== ''">
                                <h5>Imágenes:</h5>
                                <p *ngIf="proyecto.image1 !== ''">Imagen 1:</p>
                                <img *ngIf="proyecto.image1 !== ''" class="proyecto-image-1 image-fluid" [src]="proyecto.image1">
                                <p *ngIf="proyecto.image2 !== ''">Imagen 2:</p>
                                <img *ngIf="proyecto.image2 !== ''" class="proyecto-image-2 image-fluid" [src]="proyecto.image2">
                                <p *ngIf="proyecto.image3 !== ''">Imagen 3:</p>
                                <img *ngIf="proyecto.image3 !== ''" class="proyecto-image-3 image-fluid" [src]="proyecto.image3">
                            </div>
                        </ng-container>
                        <br>
                        <ng-container *ngIf="proyecto.video !== null">
                            <div *ngIf="proyecto.video !== ''">
                                <h5>Video:</h5>
                                <youtube-player 
                                    videoId={{proyecto.video}} 
                                    suggestedQuality="highres"
                                    [startSeconds]="0"
                                    [endSeconds]="0"
                                    style="height: screen; width: screen;">
                                </youtube-player>
                            </div>
                        </ng-container>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>