<div class="card mat-card" class="section1" id="education">
  <div id="education-experience" style="padding: 20px;">
    <div id="education-experience-header">
      <i class="fas fa-book-open"></i>
      <h2 class="section-header">Educación</h2>
    </div>
    <div *ngIf="isAdmin">
      <h3>Agregar o editar educación
        <i class="fa-solid fa-plus add-btn" data-bs-toggle="modal" data-bs-target="#educacionModal"></i>
        <br>Modo: {{accion}}
        <br>Resetear modo <i class="fa-solid fa-rotate-left" (click)="cancelar()" type="reset"></i>
      </h3>
      <div class="modal fade" id="educacionModal" tabindex="-1" role="dialog" aria-labelledby="educacionModalLabel">
        <div class="modal-dialog modal-xl" role="document" style="width: 100%; max-width: 1500px">
          <div class="modal-content">
            <div class="modal-header">
              <div style="flex-direction: column-start;">
                <h3 class="modal-title" id="educacionModalLabel">Modo: {{accion}}</h3>
                <p class="modal-subtitle">Cada educación que se agrega, queda primera en la lista.</p>
              </div>
            </div>
            <div class="modal-body">
              <form [formGroup]="form" (ngSubmit)="crearEducacion()">
                <div class="input-group mb-3">
                  <label class="input-group-text">Institución</label>
                  <input formControlName="schoolname" type="text" class="form-control" placeholder="Nombre de la institución"
                    [ngClass]="{'is-invalid':Schoolname?.errors && Schoolname?.touched, 'is-valid':!Schoolname?.errors && Schoolname?.touched}">
                  <div *ngIf="Schoolname?.errors && Schoolname?.touched">
                      <p *ngIf="Schoolname?.hasError('required')" class="text-danger" style="background-color: black;">
                        Ponga la institución.
                      </p>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text">Título</label>
                  <input formControlName="title" type="text" class="form-control" placeholder="Título"
                    [ngClass]="{'is-invalid':Title?.errors && Title?.touched, 'is-valid':!Title?.errors && Title?.touched}">
                  <div *ngIf="Title?.errors && Title?.touched">
                      <p *ngIf="Title?.hasError('required')" class="text-danger" style="background-color: black;">
                        Ponga el título.
                      </p>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text">Logo</label>
                  <input formControlName="logo" type="text" class="form-control"
                    placeholder="URL del logo (tiene que estar previamente en alguna página)">
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="input-group mb-3">
                      <label class="input-group-text">Fecha de inicio</label>
                      <input formControlName="startdate" type="date" class="form-control" placeholder="Fecha de inicio"
                        [ngClass]="{'is-invalid':Startdate?.errors && Startdate?.touched, 'is-valid':!Startdate?.errors && Startdate?.touched}">
                      <div *ngIf="Startdate?.errors && Startdate?.touched">
                          <p *ngIf="Startdate?.hasError('required')" class="text-danger" style="background-color: black;">
                            Ponga la fecha de inicio.
                          </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="input-group mb-3">
                      <label class="input-group-text">Fecha de fin</label>
                      <input formControlName="enddate" type="date" class="form-control" placeholder="Fecha de fin"
                        [ngClass]="{'is-invalid':Enddate?.errors && Enddate?.touched, 'is-valid':!Enddate?.errors && Enddate?.touched}">
                      <div *ngIf="Enddate?.errors && Enddate?.touched">
                          <p *ngIf="Enddate?.hasError('required')" class="text-danger" style="background-color: black;">
                            Ponga la fecha de fin.
                          </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text">
                          Educación actual (poner cualquier fecha en fecha de fin y marcar el checkbox)
                          <input formControlName="currenteducation" type="checkbox" class="form-check-input"
                            placeholder="Educación actual">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="input-group mb-3">
                      <label class="input-group-text">Tipo de institución</label>
                      <input formControlName="typeofschool" type="text" class="form-control" placeholder="Tipo de institución"
                          [ngClass]="{'is-invalid':Typeofschool?.errors && Typeofschool?.touched, 'is-valid':!Typeofschool?.errors && Typeofschool?.touched}">
                      <div *ngIf="Typeofschool?.errors && Typeofschool?.touched">
                          <p *ngIf="Typeofschool?.hasError('required')" class="text-danger" style="background-color: black;">
                            Ponga el tipo de institución.
                          </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="input-group mb-3">
                      <label class="input-group-text">Estado</label>
                      <input formControlName="studiesstatus" type="text" class="form-control" placeholder="Estado de estudios"
                        [ngClass]="{'is-invalid':Studiesstatus?.errors && Studiesstatus?.touched, 'is-valid':!Studiesstatus?.errors && Studiesstatus?.touched}">
                      <div *ngIf="Studiesstatus?.errors && Studiesstatus?.touched">
                          <p *ngIf="Studiesstatus?.hasError('required')" class="text-danger" style="background-color: black;">
                            Ponga el estado.
                          </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text">Descripción</label>
                  <input formControlName="educationdescription" type="text" class="form-control" placeholder="Descripción"
                    [ngClass]="{'is-invalid':Educationdescription?.errors && Educationdescription?.touched,
                    'is-valid':!Educationdescription?.errors && Educationdescription?.touched}">
                  <div *ngIf="Educationdescription?.errors && Educationdescription?.touched">
                      <p *ngIf="Educationdescription?.hasError('required')" class="text-danger" style="background-color: black;">
                        Ponga la descripción.
                      </p>
                  </div>
                </div>
                <div class="d-grip gap-2">
                  <button type="submit" class="btn btn-success btn-lg" [disabled]="!form.valid" data-bs-dismiss="modal">Aceptar</button>
                  &nbsp;
                  <button type="reset" class="btn btn-danger btn-lg" (click)="cancelar()" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <ul class="items-list">
        <li *ngFor="let educacion of educacionLista">
          <div class="data-container">
            <div class="logo-image-container">
              <img class="logo-image" [src]="educacion.logo">
            </div>
            <div class="list-info">
              <div class="table">
                <tr>
                  <h3>{{educacion.title}}</h3>
                  <td *ngIf="isAdmin"><i (click)="actualizarEducacion(educacion)"
                      class="fa-regular fa-pen-to-square text-info" data-bs-toggle="modal" data-bs-target="#educacionModal"></i></td>
                  <td *ngIf="isAdmin"><i (click)="borrarEducacion(educacion.id!)" class="fa-regular fa-trash-can text-danger"></i></td>
                </tr>
                <h3>{{educacion.schoolname}}</h3>
                <tr>
                  <h5 *ngIf="educacion.currenteducation == false">
                    <col>Desde {{educacion.startdate | date:"MMMM 'de' yyyy"}} hasta {{educacion.enddate | date:"MMMM 'de' yyyy"}}
                  </h5>
                  <h5 *ngIf="educacion.currenteducation == true">
                    <col>Desde {{educacion.startdate | date:"MMMM 'de' yyyy"}} hasta la actualidad
                  </h5>
                  <h5>
                    <col>{{educacion.typeofschool}} - {{educacion.studiesstatus}}
                  </h5>
                  <col><p>{{educacion.educationdescription}}</p>
                </tr>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>