<app-header></app-header>
<h1 class="m-5" #loggedOut>Iniciar sesión</h1>
<div class="m-5">
    <form [formGroup]="form" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="mb-3 form-group">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" name="username" class="form-control" formControlName="username" id="username" [(ngModel)]="username" required
                [ngClass]="{'is-invalid':Username?.errors && Username?.touched, 'is-valid':!Username?.errors && Username?.touched}">
            <div *ngIf="Username?.errors && Username?.touched">
                <p *ngIf="Username?.hasError('required')" class="text-danger">
                    Ponga el nombre de usuario.
                </p>
            </div>
        </div>
        <div class="mb-3 form-group">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" name="password" class="form-control" formControlName="password" id="password" [(ngModel)]="password" required
            [ngClass]="{'is-invalid':Password?.errors && Password?.touched, 'is-valid':!Password?.errors && Password?.touched}">
            <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required') || Password?.hasError('minlength') || Password?.hasError('maxlength')" class="text-danger">
                    Ponga una contraseña con entre 8 y 20 caracteres.
                </p>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" [disabled]="!f.valid">Iniciar sesión</button>
        </div>
        <button class="btn btn-outline-secondary mr-1" routerLink="/nuevo-usuario" routerLinkActive="active">Si no tiene
            usuario, acá podría registrarse.</button>
    </form>
</div>