<div class="card mat-card" class="section1" id="skills">
    <div id="work-experience" style="padding: 20px;">
        <div id="skills-header">
            <i class="fas fa-briefcase"></i>
            <h2 class="section-header">Skills</h2>
            <button class="btn" style="float: right;">
                <a href="#" class="btn-right"><i class="fas fa-tools edit-btn"></i></a>
            </button>
        </div>
        <div>
            <ul class="items-list">
                <li *ngFor="let skill of skillsList">
                    <div class="data-container" style="border-style: double; margin-bottom: 10px;">
                        <div class="list-info">
                            <div>
                                <h3>{{skill.skillname}}</h3>
                                <p>Nivel: {{skill.level}}</p>
                            </div>
                            <div class="progress">
                                <mat-progress-bar mode="determinate" value="{{skill.levelnumber}}" style="height: 20px;"><p>{{skill.level}}%</p></mat-progress-bar>
                                <div style="position: absolute; color: white;">{{skill.levelnumber}}%</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>