<div class="card mat-card" class="section1" id="skills">
  <div id="skills-experience" style="padding: 20px;">
    <div id="skills-header">
      <i class="fas fa-solid fa-at"></i>
      <h2 class="section-header">Skills</h2>
    </div>
    <div *ngIf="isAdmin">
      <h3>Agregar o editar skill
        <i class="fa-solid fa-plus add-btn" data-bs-toggle="modal" data-bs-target="#skillModal"></i>
        <br>Modo: {{accion}}
        <br>Resetear modo <i class="fa-solid fa-rotate-left" (click)="cancelar()" type="reset"></i>
      </h3>
      <div class="modal fade" id="skillModal" tabindex="-1" role="dialog" aria-labelledby="skillModalLabel">
        <div class="modal-dialog modal-xl" role="document" style="width: 100%; max-width: 1500px">
          <div class="modal-content">
            <div class="modal-header">
              <div style="flex-direction: column-start;">
                <h3 class="modal-title" id="skillModalLabel">Modo: {{accion}}</h3>
                <p class="modal-subtitle">Cada skill que se agrega, queda último en la lista.</p>
              </div>
            </div>
            <div class="modal-body">
              <form [formGroup]="form" (ngSubmit)="crearSkill()">
                <div class="input-group mb-3">
                  <label class="input-group-text">Nombre del skill</label>
                  <input formControlName="skillname" type="text" class="form-control" placeholder="Nombre del skill"
                    [ngClass]="{'is-invalid':Skillname?.errors && Skillname?.touched, 'is-valid':!Skillname?.errors && Skillname?.touched}">
                  <div *ngIf="Skillname?.errors && Skillname?.touched">
                    <p *ngIf="Skillname?.hasError('required')" class="text-danger" style="background-color: black;">
                      Ponga el nombre del skill.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="input-group mb-3">
                      <label class="input-group-text">Nivel del skill en números</label>
                      <input formControlName="levelnumber" type="number" class="form-control" placeholder="Entre 0 y 100"
                        [ngClass]="{'is-invalid':Levelnumber?.errors && Levelnumber?.touched, 'is-valid':!Levelnumber?.errors && Levelnumber?.touched}">
                      <div *ngIf="Levelnumber?.errors && Levelnumber?.touched">
                        <p *ngIf="Levelnumber?.hasError('required') || Levelnumber?.hasError('min') || Levelnumber?.hasError('max')"
                          class="text-danger" style="background-color: black;">
                          Ponga el nivel del skill en números entre 0 y 100.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <label class="input-group-text">Tipo de skill</label>
                    <select formControlName="skill_tipo">
                      <option *ngFor="let skill_tipo of skill_tipoLista" [value]="skill_tipo.id" placeholder="Tipo de skill"
                        [ngClass]="{'is-invalid':Skill_tipo?.errors && Skill_tipo?.touched, 'is-valid':!Skill_tipo?.errors && Skill_tipo?.touched}">
                        {{skill_tipo.typename}}
                      </option>
                    </select>
                    <p *ngIf="Skill_tipo?.hasError('required')" class="text-danger" style="background-color: black;">
                      Ponga el tipo de skill.
                    </p>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text">Descripción del skill</label>
                  <input formControlName="skilldescription" type="text" class="form-control" placeholder="Descripción del skill">
                </div>
                <div class="d-grip gap-2">
                  <button type="submit" class="btn btn-success btn-lg" [disabled]="!form.valid" data-bs-dismiss="modal">Aceptar</button>
                  &nbsp;
                  <button type="reset" class="btn btn-danger btn-lg" (click)="cancelar()" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <ng-container *ngFor="let skillTipo of skill_tipoLista">
        <h3>{{skillTipo.typename}}</h3>
        <ul class="items-list row equal-cols justify-content-start" style="padding: 0px;">
          <ng-container *ngFor="let skill of skillLista">
            <li *ngIf="skill.skill_tipo?.typename == skillTipo.typename" class="col-4">
              <div class="data-container list-info">
                <div class="table">
                  <tr>
                    <h5>{{skill.skillname}}</h5>
                    <td *ngIf="isAdmin"><i (click)="actualizarSkill(skill)" class="fa-regular fa-pen-to-square text-info"
                        data-bs-toggle="modal" data-bs-target="#skillModal"></i></td>
                    <td *ngIf="isAdmin"><i (click)="borrarSkill(skill.id!)" class="fa-regular fa-trash-can text-danger"></i></td>
                  </tr>
                </div>
                <div class="progress">
                  <mat-progress-bar mode="determinate" value="{{skill.levelnumber}}" style="height: 20px;">
                    <p>Nivel: {{skill.levelnumber}}</p>
                  </mat-progress-bar>
                  <div style="position: absolute; color: black;">&nbsp;{{skill.levelnumber}}%</div>
                </div>
                <col>{{skill.skill_tipo?.typename}}
                <col>{{skill.skilldescription}}
              </div>
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </div>
  </div>
</div>