<div class="card mat-card" class="section1" id="work">
  <div id="work-experience" style="padding: 20px;">
    <div id="Work-experience-header">
      <i class="fas fa-briefcase"></i>
      <h2 class="section-header">Experiencia laboral</h2>
    </div>

    <h3>Agregar experiencia laboral 
      <i (click) = toggleDisplay() class="fa-solid fa-plus add-btn"></i>
      <br>Modo: {{accion}}
    </h3>
      <div *ngIf = "!isShow">
        <div class="col-lg-11">
          <div class="card">
            <div class="card-body">
              <p>Cada experiencia laboral que se agrega, queda primera en la lista.</p>
              <form [formGroup]="form" (ngSubmit)="crearExperienciaLaboral()">
                <div class="input-group mb-3">
                  <span class="input-group-text">Empresa</span>
                  <input formControlName="company" type="text" class="form-control" placeholder="Nombre de la empresa">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Puesto</span>
                  <input formControlName="position" type="text" class="form-control" placeholder="Puesto">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Logo</span>
                  <input formControlName="logo" type="text" class="form-control" placeholder="URL del logo (tiene que estar previamente en alguna página)">
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="input-group mb-3">
                      <span class="input-group-text">Mes de inicio</span>
                      <input formControlName="startmonth" type="text" class="form-control" placeholder="Mes de inicio">
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="input-group mb-3">
                      <span class="input-group-text">Año de inicio</span>
                      <input formControlName="startyear" type="number" class="form-control" placeholder="Año de inicio">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="input-group mb-3">
                      <span class="input-group-text">Mes de fin</span>
                      <input formControlName="endmonth" type="text" class="form-control" placeholder="Mes de fin, si está trabajando actualmente ponga Actualidad">
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="input-group mb-3">
                      <span class="input-group-text">Año de fin</span>
                      <input formControlName="endyear" type="number" class="form-control" placeholder="Año de fin">
                    </div>
                  </div>
                </div>
                <div class="d-grip gap-2">
                  <button type="submit" class="btn btn-success btn-lg">Aceptar</button>
                  <button type="reset" class="btn btn-danger btn-lg" (click)="cancelar()">Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    <div>
      <ul class="items-list">
        <li *ngFor="let experiencialaboral of experiencialaboralLista">
          <div class="data-container" style="border-style: double; margin-bottom: 10px;">
            <div class="logo-image-container">
              <img class="logo-image" [src]="experiencialaboral.logo">
            </div>
            <div class="list-info">
              <div class="table">
                <tr>
                  <h3>{{experiencialaboral.position}}</h3>
                  <td><i (click)="actualizarExperienciaLaboral(experiencialaboral)" (click) = setDisplay() class="fa-regular fa-pen-to-square text-info"></i></td>
                  <td><i (click)="borrarExperienciaLaboral(experiencialaboral.id)" class="fa-regular fa-trash-can text-danger"></i></td>
                </tr>
                <h3>{{experiencialaboral.company}}</h3>
                <tr>
                  <col>{{experiencialaboral.startmonth}} <time>{{experiencialaboral.startyear}}</time> - {{experiencialaboral.endmonth}} <time *ngIf="experiencialaboral.endmonth !== 'Actualidad'">{{experiencialaboral.endyear}}</time>
                </tr>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>