<div class="card mat-card" class="section1" id="work">
  <div id="work-experience" style="padding: 20px;">
    <div id="Work-experience-header">
      <i class="fas fa-briefcase"></i>
      <h2 class="section-header">Experiencia laboral</h2>
      <button class="btn" style="float: right;">
        <a href="#" class="btn-right"><i class="fas fa-tools edit-btn"></i></a>
      </button>
    </div>
    <div>
      <ul class="items-list">
        <li *ngFor="let experiencialaboral of experiencialaboralLista">
          <div class="data-container" style="border-style: double; margin-bottom: 10px;">
            <div class="logo-image-container">
              <img class="logo-image" [src]="experiencialaboral.logo">
            </div>
            <div class="list-info">
              <div class="table">
                <tr>
                  <h3>{{experiencialaboral.position}}</h3>
                  <td><i class="fa-regular fa-pen-to-square text-info"></i></td>
                  <td><i class="fa-regular fa-trash-can text-danger"></i></td>
                </tr>
                <h3>{{experiencialaboral.company}}</h3>
                <tr>
                  <col>{{experiencialaboral.startmonth}} <time>{{experiencialaboral.startyear}}</time> - {{experiencialaboral.endmonth}} <time>{{experiencialaboral.endyear}}</time>
                </tr>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>