<div class="card mat-card" class="section1" id="work">
  <div id="work-experience" class="font-fluid" style="padding: 20px;">
    <div id="Work-experience-header">
      <i class="fas fa-briefcase"></i>
      <h2 class="section-header">Experiencia laboral</h2>
    </div>
    <div *ngIf="isAdmin">
      <h3>Agregar experiencia laboral
        <i class="fa-solid fa-plus add-btn" data-bs-toggle="modal" data-bs-target="#experiencialaboralModal"></i>
        <br>Modo: {{accion}}
        <br>Resetear modo <i class="fa-solid fa-rotate-left" (click)="cancelar()" type="reset"></i>
      </h3>
      <div class="modal fade" id="experiencialaboralModal" tabindex="-1" role="dialog" aria-labelledby="experiencialaboralModalLabel">
        <div class="modal-dialog modal-xl" role="document" style="width: 100%; max-width: 1500px">
          <div class="modal-content">
            <div class="modal-header">
              <div style="flex-direction: column-start;">
                <h3 class="modal-title" id="experiencialaboralModalLabel">Modo: {{accion}}</h3>
                <p class="modal-subtitle">Cada experiencia laboral que se agrega, queda primera en la lista.</p>
              </div>
            </div>
            <div class="modal-body">
              <form [formGroup]="form" (ngSubmit)="crearExperienciaLaboral()">
                <div class="input-group mb-3">
                  <label class="input-group-text">Empresa</label>
                  <input formControlName="company" type="text" class="form-control" placeholder="Nombre de la empresa"
                    [ngClass]="{'is-invalid':Company?.errors && Company?.touched, 'is-valid':!Company?.errors && Company?.touched}">
                  <div *ngIf="Company?.errors && Company?.touched">
                      <p *ngIf="Company?.hasError('required')" class="text-danger" style="background-color: black;">
                        Ponga la empresa.
                      </p>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text">Puesto</label>
                  <input formControlName="position" type="text" class="form-control" placeholder="Puesto"
                    [ngClass]="{'is-invalid':Position?.errors && Position?.touched, 'is-valid':!Position?.errors && Position?.touched}">
                  <div *ngIf="Position?.errors && Position?.touched">
                      <p *ngIf="Position?.hasError('required')" class="text-danger" style="background-color: black;">
                        Ponga la posición.
                      </p>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text">Logo</label>
                  <input formControlName="logo" type="text" class="form-control"
                    placeholder="URL del logo (tiene que estar previamente en alguna página)">
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="input-group mb-3">
                      <label class="input-group-text">Fecha de inicio</label>
                      <input formControlName="startdate" type="date" class="form-control" placeholder="Fecha de inicio"
                        [ngClass]="{'is-invalid':Startdate?.errors && Startdate?.touched, 'is-valid':!Startdate?.errors && Startdate?.touched}">
                      <div *ngIf="Startdate?.errors && Startdate?.touched">
                          <p *ngIf="Startdate?.hasError('required')" class="text-danger" style="background-color: black;">
                            Ponga la fecha de inicio.
                          </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="input-group mb-3">
                      <label class="input-group-text">Fecha de fin</label>
                      <input formControlName="enddate" type="date" class="form-control" placeholder="Fecha de fin"
                        [ngClass]="{'is-invalid':Enddate?.errors && Enddate?.touched, 'is-valid':!Enddate?.errors && Enddate?.touched}">
                      <div *ngIf="Enddate?.errors && Enddate?.touched">
                          <p *ngIf="Enddate?.hasError('required')" class="text-danger" style="background-color: black;">
                            Ponga la fecha de fin.
                          </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text">
                          Trabajo actual (poner cualquier fecha en fecha de fin y marcar el checkbox)
                          <input formControlName="currentjob" type="checkbox" class="form-check-input"
                            placeholder="Trabajo actual">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text">Descripción</label>
                  <input formControlName="workdescription" type="text" class="form-control" placeholder="Descripción"
                    [ngClass]="{'is-invalid':Workdescription?.errors && Workdescription?.touched, 'is-valid':!Workdescription?.errors && Workdescription?.touched}">
                  <div *ngIf="Workdescription?.errors && Workdescription?.touched">
                      <p *ngIf="Workdescription?.hasError('required')" class="text-danger" style="background-color: black;">
                        Ponga la descripción.
                      </p>
                  </div>
                </div>
                <div class="d-grip gap-2">
                  <button type="submit" class="btn btn-success btn-lg" [disabled]="!form.valid" data-bs-dismiss="modal">Aceptar</button>
                  &nbsp;
                  <button type="reset" class="btn btn-danger btn-lg" (click)="cancelar()" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <ul class="items-list">
        <li *ngFor="let experiencialaboral of experiencialaboralLista">
          <div class="data-container">
            <div class="logo-image-container">
              <img class="logo-image" [src]="experiencialaboral.logo">
            </div>
            <div class="list-info">
              <div class="table">
                <tr>
                  <h3>{{experiencialaboral.position}}</h3>
                  <td *ngIf="isAdmin"><i (click)="actualizarExperienciaLaboral(experiencialaboral)"
                      class="fa-regular fa-pen-to-square text-info" data-bs-toggle="modal" data-bs-target="#experiencialaboralModal"></i></td>
                  <td *ngIf="isAdmin"><i (click)="borrarExperienciaLaboral(experiencialaboral.id!)"
                      class="fa-regular fa-trash-can text-danger"></i></td>
                </tr>
                <h3>{{experiencialaboral.company}}</h3>
                <tr>
                  <h5 *ngIf="experiencialaboral.currentjob == false">
                    <col>Desde el {{experiencialaboral.startdate | date:"d 'de' MMMM 'de' YYYY"}} hasta el {{experiencialaboral.enddate | date:"d 'de' MMMM 'de' YYYY"}}
                  </h5>
                  <h5 *ngIf="experiencialaboral.currentjob == true">
                    <col>Desde el {{experiencialaboral.startdate | date:"d 'de' MMMM 'de' YYYY"}} hasta la actualidad
                  </h5>
                  <col><p>{{experiencialaboral.workdescription}}</p>
                </tr>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>