/* You can add global styles to this file, and also import other style files */
#first-part { 
    margin-bottom: 150px;
    font-family: Verdana;
}
#Foto-perfil { 
    width: 10%;
    position: relative;
    display: inline-block;
 }
img {
    max-width: 100%;
}
.fa-linkedin {
    color: #2867B2;
}
.fa-square {
    color: white;
    font-size: 30px;
}
.fa-stack {
    font-size: 35px;
}
.fas {
    float: left;
    font-size: 25px;
    padding: 10px;
    margin: 0%;
}
.fas + p {
    clear: left;
}
.edit-btn {
    background-color: black;
    border: none;
    color: red;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
}
.edit-btn:hover{
    color: blue;
}
.section1 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: red;
    border-style: double;
    background-color: grey;
}
.logo-image {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;
}
#img-btn {
    position: absolute;
    right: 0%;
}
ul {
    list-style-type: none;
    padding: 0px;
}
.section-header {
    display: inline-block;
    padding-bottom: 10px;
}
.fixed-header {
    position: fixed;
    z-index:999;
    background-color: transparent;
    width: 100%;
    top: 0%;
    max-height: 50px;
    justify-content: right;
}
.fixed-header:hover{
    background-color: red;
}
.fixed-footer {
    position: fixed;
    width: 100%;
    bottom: 0%;
    max-height: 20px;
    font-size: 100%;
}
.mat-progress-bar-fill::after {
    background: red;
}
.mat-progress-bar-buffer {
    background: white;
}
#blanket {
    background-color: black;
}
.far {
    cursor: pointer;
}