/* You can add global styles to this file, and also import other style files */
#first-part { margin-bottom: 150px; font-family: Verdana;}
#Foto-perfil { 
    width: 10%;
    position: relative;
    display: inline-block;
 }
img {
    max-width: 100%;
}
.fas {
    color: red;
    float: left;
    margin-right: 10px;
    font-size: 35px;
}
.fas + p {
    clear: left;
}
.edit-btn {
    background-color: black;
    border: none;
    color: red;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    margin: 0%;
    border-radius: 50%;
  }
  .edit-btn:hover{
      color: blue;
  }
.section1 {
    margin-top: 10px;
    margin-bottom: 10px;
    border: red;
    border-style: double;
    background-color: grey;
}
.logo-image {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
#img-btn {
    position: absolute;
    right: 0%;
}