/* You can add global styles to this file, and also import other style files */
#first-part { 
    margin-bottom: 150px;
    font-family: Verdana;
}
#Foto-perfil { 
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    border-radius: 50%;
 }
 #banner {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
 }
img {
    max-width: 100%;
}
.fa-linkedin {
    color: #2867B2;
}
.fas {
    float: left;
    font-size: 25px;
    padding: 10px;
    margin: 0%;
}
.fas + p {
    clear: left;
}
.edit-btn, .add-btn, .fa-rotate-left {
    background-color: black;
    border: none;
    color: red;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
}
.edit-btn:hover, .add-btn:hover, .fa-rotate-left:hover{
    color: blue;
}
.section1 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: red;
    border-style: double;
    background-color: grey;
}
.logo-image {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;
}
#img-btn {
    position: absolute;
    right: 0%;
}
ul {
    list-style-type: none;
    padding: 0px;
}
.section-header {
    display: inline-block;
    padding-bottom: 10px;
}
.fixed-header {
    position: fixed;
    z-index:999;
    background-color: transparent;
    width: 100%;
    top: 0%;
    max-height: 50px;
    justify-content: right;
}
.fixed-header:hover{
    background-color: red;
}
.fixed-footer {
    position: fixed;
    bottom: 0%;
    font-size: 15px;
    background-color: white;
    z-index:999;
    width: 100%;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.mat-progress-bar-fill::after {
    background: red;
}
.mat-progress-bar-buffer {
    background: white;
}
#blanket {
    background-color: black;
}
.fa-regular {
    cursor: pointer;
}
.card-body {
    background-color: gray;
}
.argentina-programa-logo-y-texto:hover {
    cursor: pointer;
}
.navbar {
    min-height: 50px;
    max-height: 75px;
}
.data-container {
    border-style: double;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.proyecto-image-1, .proyecto-image-2, .proyecto-image-3{
    padding-bottom: 25px;
    max-width: 100%;
    max-height: auto;
}
@media screen and (max-width: 900px){
    .font-fluid :is(h2){font-size: 25px !important;}
    .font-fluid :is(h3){font-size: 20px !important;}
    .font-fluid :is(h5){font-size: 15px !important;}
    .font-fluid :is(.data-container){font-size: 12px !important;}
    .font-fluid :is(.fas){font-size: 20px !important;}
    .font-fluid :is(strong){font-size: 12px !important;}
    #footer-text{font-size: 12px !important;}
}
@media screen and (max-width: 600px){
    .font-fluid :is(h2){font-size: 20px !important;}
    .font-fluid :is(h3){font-size: 15px !important;}
    .font-fluid :is(h5){font-size: 12px !important;}
    .font-fluid :is(.data-container){font-size: 10px !important;}
    .font-fluid :is(.fas){font-size: 15px !important;}
    .font-fluid :is(strong){font-size: 10px !important;}
    #footer-text{font-size: 10px !important;}
}