<app-header></app-header>
<div class="container card mat-card section1" style="margin-top: 20px;">
    <h1>Hola {{this.username}}</h1>
    <p>Está pagina es para usar Guards de Angular, si entrás sin estar loggeado debería redirigirte a iniciar sesión.</p>
    <button class="btn btn-outline-secondary mr-1" routerLink="/portfolio" routerLinkActive="active" style="margin-bottom: 20px;">Podes hacer click aca o en el logo de Argentina Programa para ir al Portfolio</button>
</div>
<app-footer></app-footer>